rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Les avatars ne peuvent être écrits que par l'utilisateur propriétaire
    // La lecture est publique pour que les autres utilisateurs puissent voir les avatars
    match /avatars/{userId}/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Les images d'annonces peuvent être écrites par tout utilisateur authentifié
    // La taille est limitée à 5MB
    // La lecture est publique
    match /ads/{adId}/{fileName} {
        allow read: if true;
        allow write: if request.auth != null
                    && request.resource.size < 5 * 1024 * 1024
                    && request.resource.contentType.matches('image/.*');
    }
  }
}
